.header {
    height: 40px;
    width: 100%;
    background-color: grey;
    opacity: 0.7;
    font-size: 1.2rem;
    align-items: center;
    color: black;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}